## Ejercicio 1

Dado un entero `n`, ingresado por el usuario. Crea una lista con los `n` primeros números (excluyendo al cero) divisibles entre 3, i.e. que al dividirlos entre 3 su residuo es 0.

hint: puedes usar la función `input()` para solicitar que el usuario introduzca un entero y validar que efectivamente sea un entero. El loop `while` podría ser una buena alternativa.

In [ ]:
# Escribe tu código aquí:

Si n=10.

Output correcto: `[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]`

## Ejercicio 2

dado el diccionario `fahrenheit`, declarado debajo, genera otro diccionario con las temperaturas en celsius, redondeando el resultado a 2 dígitos.

$$c = (f - 32) * 5/9$$

Las llaves del nuevo diccinario, deberán substituir la "f" por una "c"

In [ ]:
fahrenheit = {'t1 f':-30, 't2 f':-20, 't3 f':-10, 't4 f':0}

In [ ]:
# Escribe tu código aquí:

Output correcto: `{'t1 c': -34.44, 't2 c': -28.89, 't3 c': -23.33, 't4 c': -17.78}`

## Ejercicio 3

Dada la cadena de texto `text` abajo declarada, crea una lista que contenga sólo aquellas palabras que inicien con la letra "l" o la letra "m" (sin importar si es mayúscula o minúscula).

Importante: Elimina las `,` de la cadena de texto.

hint: Recuerda que puedes utilizar métodos de las cadenas de texto como `split()`. También recuerda que la expreción `3 in [1, 2, 3]` regresa `True`

In [ ]:
text = "En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo de los de lanza,"

In [ ]:
# Escribe tu código aquí:

Output correcto: `['lugar', 'la', 'Mancha', 'mucho', 'los', 'lanza']`