# Sets y Booleans 

Existen otros dos tipos de datos que cubriremos.

1. Sets
2. Booleans

## Sets

Python también incluye un tipo de datos para conjuntos (sets). Un conjunto es una colección desordenada de elementos únicos. Los usos básicos incluyen: 

1. Pruebas de contención, probar si un elemento es parte de un conjunto.
2. Eliminación de elementos duplicadas, provenientes de cualquier otra estructura de datos. 

Los conjuntos también admiten operaciones matemáticas como la unión, intersección, diferencia y diferencia simétrica.

En esta sub-sección veremos:

    1.) Construcción de conjuntos
    2.) Operaciones y Métodos de Conjuntos

### Construcción de conjuntos

Se pueden utilizar llaves `{}` o el constructor `set()` para crear conjuntos. 

Para crear un conjunto vacío, debe usar `set()`, no `{}`; la llaves vacías crearán un diccionario vacío, una estructura de datos que ya hemos discutido.

Ahora veremos una pequeña demostración de cómo usarlos.

In [2]:
lst = [1, 1, 3, 4, 4, 1, 3]
lst

[1, 1, 3, 4, 4, 1, 3]

Ahora procederemos a crear un conjunto con el constructor `set()`.

In [4]:
s = set(lst)
s

{1, 3, 4}

Tal y como ya lo esperábamos, al momento de construir un conjunto los elementos duplicados se han eliminado.

Ahora procederemos a crear un conjunto con el símbolo de las llaves `{}`.

In [5]:
{lst}

TypeError: unhashable type: 'list'

Esto sucede dado que las llaves `{}` sólo las podemos emplear cuando ingresamos una secuencia de longitud arbitraria.

In [9]:
s = {1, 1, 3, 4, 4, 1, 3, "hola"}
s

{1, 3, 4, 'hola'}

Finalmente, la creación de un conjunto a partir de una cadena de texto podría ser de interés como solución a cierto tipo de problemas. Veamos cómo funcion.

In [12]:
set("mississippi")

{'i', 'm', 'p', 's'}

En el anterior ejemplo se muestra claramente que no se mantiene el orden original.

### Operaciones y Métodos de Conjuntos

Aquellos que estén familiarizados con los conjuntos desde una perspectiva matemática, sabrán que existen una serie de operaciones como la unión, intersección, diferencia, etc.

En esta sección veremos algunas de las operaciones para las que los conjuntos pueden ser una excelente alternativa.

In [19]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

In [20]:
# Unión 

s1 | s2

{1, 2, 3, 4, 5, 6}

In [21]:
# Intersección

s1 & s2

{3, 4}

In [23]:
# Diferencia 
s1 - s2

{1, 2}

In [24]:
# Diferencia simétrica 

s1 ^ s2

{1, 2, 5, 6}

In [27]:
# Test de contención
s1

{1, 2, 3, 4}

In [25]:
1 in s1

True

In [28]:
5 in s1

False

## Booleans

Dentro de Python también se ha implementado una subclase de los enteros, llamados Booleans. Esta subclase se compone sólo de dos valores `True` (1) y `False` (0).

Como tal, las funciones normales de creación y eliminación no se aplican a los valores booleanos, i.e. los dos valores posibles se inicializan junto con Python y ambos estarán siempre en un mismo slot de memoria.

En esta subsección revisaremos los siguientes puntos:

    1.) Operaciones 
    2.) Comparaciones

### Operaciones

Estas son las operaciones con booleans, ordenadas de manera ascendente por prioridad:

<table>
<tr>
    <th>Operación</th> 
    <th>Resultado</th>
</tr>

<tr>
    <td>A or B</td>
    <td>Si A es False, entonces B, cualquier otro caso A</td> 
</tr>

<tr>
    <td>A and B</td>
    <td>Si A es False, entonces A, cualquier otro caso B</td> 
</tr>

<tr>
    <td>not A</td>
    <td>Si A es False, entonces True, cualquier otro caso False</td> 
</tr>
    
</table>

In [32]:
A = False  
B = True

In [34]:
# test
A or B

True

### Comparaciones

Existen ocho operaciones de comparación en Python. Todas tienen la misma prioridad (que es más alta que la de las operaciones booleanas). Las comparaciones se pueden encadenar arbitrariamente; por ejemplo, `x <y <= z` es equivalente a `x <y e y <= z`.

Esta tabla resume las operaciones de comparación:

<table>
<tr>
    <th>Comparación</th> 
    <th>Significado</th>
</tr>

<tr>
    <td> < </td>
    <td>Menor estricto</td> 
</tr>

<tr>
    <td><= </td>
    <td>Menor o igual</td> 
</tr>

<tr>
    <td>></td>
    <td>Mayor estricto</td> 
</tr>
    
<tr>
    <td>>=</td>
    <td>Mayor o igual</td> 
</tr>
<tr>
    <td>==</td>
    <td>Igual</td> 
</tr>
<tr>
    <td>!=</td>
    <td>No igual</td> 
</tr>
<tr>
    <td>is</td>
    <td>Idéntico</td> 
</tr>
<tr>
    <td>is not</td>
    <td>No idéntico</td> 
</tr>
</table>

In [40]:
# Menor estricto 

1 < 2

True

In [42]:
# Menor o igual

5<=5

True

In [43]:
# Mayor estricto

3 > 4

False

In [46]:
# Mayor o igual

10 >= 11

False

In [61]:
# Igual 

a = [1, 2, 3]
b = a.copy()
a == b

True

In [62]:
c = (1, 2, 3)
a == c

False

In [63]:
# No igual
a != c

True

In [64]:
# Idéntico
print(a)
print(b)
a is b

[1, 2, 3]
[1, 2, 3]

False

In [65]:
print("ID de a:",id(a))
print("ID de b:",id(b))

ID de a: 2700547754560
ID de b: 2700549070912

In [66]:
# No idéntico 

a is not b

True

In [67]:
a = 1
b = 1

a is not b

False